body {
    margin-left: calc((100% - 800px) / 2);
}

.main-header {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 40px;
    font-family: Arial;
}

.logo {
    font-size: 30px;
}

.nav-link {
    margin-left: 50px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.nav-link:first-child {
    margin-left: 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 40px;
    font-family: Arial;
}

.left-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-column {
    width: 55%;
}

.main-title {
    margin: 0;
    font-size: 70px;
    font-weight: normal;
    line-height: 60px;
}

span {
    font-weight: bold;
}

.main-buttons {
    margin-top: 35px;
}

.main-content-seperator {
    margin-top: 15px;
    width: 165px;
    margin-left: 0;
    border: 0;
    border-radius: 5px;
    color: #6ABDDD;
    background-color: #6ABDDD;
    height: 5px;
}

.btn {
    text-decoration: none; 
    font-size: 17px; 
    font-family: Arial; 
    border: 2px solid lightblue; 
    padding: 7px; 
    padding-left: 30px; 
    padding-right: 30px;  
    border-radius: 21px;
    font-weight: bold;
    color: black;
}

.home-btn {
    background-color: lightblue;
    color: white;
}